<h2 mat-dialog-title> Assign a reviewer </h2>
<mat-dialog-content>
    <br>
    <mat-form-field>
        <mat-label id="label">Reviewers</mat-label>
        <mat-select [(value)]="choosenReviewerId">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let reviewer of allReviewers" [value]="reviewer.userId">
                {{reviewer.fullName}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" (click)="assign()">Assign</button>
    <button class="mat-button" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
