#label {
    position: absolute;
    top: 8%;
    left: 44%;
    width: 52%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

#process-cards {
    margin-top: 3%;
}
