#paper-cards {
    position: absolute;
    top: 31%;
    left: 22%;
    width: 50%;
}

#label {
    position: absolute;
    top: 26%;
    left: 43%;
    width: 30%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}
