<div id="search-form-container">
    <form [formGroup]="searchForm" class="search-form" (ngSubmit)="onSearchSubmit()">
        <mat-card class="search-card">
            <table>
                <tr>
                    <td>
                        <h1 id="label">Search paper data</h1>
                        <mat-form-field class="form-field">
                            <input matInput formControlName="title" placeholder="Title">
                        </mat-form-field>
                        <mat-form-field class="form-field">
                            <input matInput formControlName="author" placeholder="Author">
                        </mat-form-field>
                        <mat-form-field class="form-field">
                            <input matInput formControlName="affiliation" placeholder="Affiliation">
                        </mat-form-field>
                        <mat-form-field class="form-field">
                            <input matInput formControlName="keyword" placeholder="Keyword">
                        </mat-form-field>
                        <button mat-raised-button color="primary" type="submit">
                            Search
                        </button>
                    </td>
                </tr>
            </table>
        </mat-card>
    </form>
</div>
