<mat-card class="search-card">
    <mat-card-header>
        <mat-card-title>{{ paper.title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content flex>
        <table>
            <tr>
                <td>
                    <b>Authors:</b> <span *ngFor="let author of paper.authors"> {{ author }} </span>
                </td>
            </tr>
            <tr>
                <td>
                    <b>Keywords:</b> <span *ngFor="let keyword of paper.keywords"> {{ keyword }} </span>
                </td>
            </tr>
            <tr *ngIf="router.url !== '/'">
                <td>
                    <b>Status:</b> {{ paper.paperStatus }}
                </td>
            </tr>
        </table>
        
        <div id="btns-div" align="right">
                <button mat-raised-button color="primary" [matMenuTriggerFor]="viewMenu">View paper</button>
                <mat-menu #viewMenu="matMenu" yPosition="below">
                    <button mat-menu-item (click)="viewHtml()"><b>HTML</b></button>
                    <button mat-menu-item (click)="viewPdf()"><b>PDF</b></button>
                    <button mat-menu-item (click)="viewXml()"><b>XML</b></button>
                    <button mat-menu-item (click)="quotedBy()"><b>Quoted by</b></button>
                </mat-menu>
                
                <button mat-raised-button color="primary" [matMenuTriggerFor]="metadataMenu">View metadata</button>
                <mat-menu #metadataMenu="matMenu" yPosition="below">
                        <button mat-menu-item (click)="metadataRdf()"><b>RDF</b></button>
                        <button mat-menu-item (click)="metadataJson()"><b>JSON</b></button>
                </mat-menu>
                
                <span *ngIf="authorView">
                    <button mat-raised-button color="primary" [matMenuTriggerFor]="letterMenu">View cover letter</button>
                    <mat-menu #letterMenu="matMenu" yPosition="below">
                            <button mat-menu-item (click)="viewLetterHtml()"><b>HTML</b></button>
                            <button mat-menu-item (click)="viewLetterPdf()"><b>PDF</b></button>
                            <button mat-menu-item (click)="viewLetterXml()"><b>XML</b></button>
                    </mat-menu>
                </span>
                
                <button *ngIf="paper.paperStatus === 'REVISION'" mat-raised-button color="primary" class="view-paper-btn"
                (click)="addRevision(paper.title, paper.processId)">Add revision</button>
                <button *ngIf="paper.paperStatus === 'PENDING' || paper.paperStatus === 'REVISION' || paper.paperStatus === 'REVIEWING'" mat-raised-button color="primary" class="view-paper-btn"
                (click)="confirmWithdraw(paper.title, paper.id)">Withdraw</button>
        </div>
    </mat-card-content>
</mat-card>
