#paper-cards {
    position: absolute;
    top: 18%;
    left: 40%;
    width: 52%;
}

#div-buttons{
    position: absolute;
    top: 13%;
    left: 41%;
}

#label {
    position: absolute;
    top: 8%;
    left: 41%;
    width: 52%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

button{
    margin-right: 3px;
}
