<app-header (sendSearchData)="sendSearchData($event)"></app-header>
<app-search-form (sendSearchParams)="sendSearchParams($event)"></app-search-form>

<div>
    <h1 id='label'>My papers</h1>
</div>

<div id='div-buttons'>
    <button mat-raised-button color="primary" (click)="filterByStatus('ALL')">ALL</button>
    <button mat-raised-button color="primary" (click)="filterByStatus('PENDING')">PENDING</button>
    <button mat-raised-button color="primary" (click)="filterByStatus('REVIEWING')">REVIEWING</button>
    <button mat-raised-button color="primary" (click)="filterByStatus('REVISION')">REVISION</button>
    <button mat-raised-button color="primary" (click)="filterByStatus('ACCEPTED')">ACCEPTED</button>
    <button mat-raised-button color="primary" (click)="filterByStatus('REJECTED')">REJECTED</button>
    <button mat-raised-button color="primary" (click)="filterByStatus('WITHDRAWN')">WITHDRAWN</button>
</div>

<div id="paper-cards">
    <app-paper-card *ngFor="let paper of papers" [paper]="paper" [authorView]="true"></app-paper-card>
</div>
