<form class="main-div" id="add-review" [formGroup]="form">
    <mat-card class="review-card">
        <mat-card-header>
            <mat-card-title> {{ reviewInfo.paperTitles[0] }} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table>
                <tr>
                    <td>
                        <b>Version:</b> {{ reviewInfo.version }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <button mat-raised-button color="primary" [matMenuTriggerFor]="viewMenu">View paper</button>
                        <mat-menu #viewMenu="matMenu" yPosition="below">
                            <button mat-menu-item (click)="viewHtml()"><b>HTML</b></button>
                            <button mat-menu-item (click)="viewPdf()"><b>PDF</b></button>
                        </mat-menu>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br>
                        <input hidden formControlName="review" id="review" type="file" name="file"
                            (change)="reviewFileChange($event.target.files)" accept=".xml">
                        <button mat-raised-button (click)="openReviewInput()">Choose file...</button>
                        <button mat-raised-button color="accent" (click)="submitReview()">Submit review</button>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</form>
