<app-header></app-header>
<div>
    <h1 id='label'>Paper submission</h1>
</div>
<form id="add-paper-form" [formGroup]="form">
    <mat-card id="add-paper-card">
        <h3 *ngIf="!revisionPaperTitle">Submit a new paper</h3>
        <h3 *ngIf="revisionPaperTitle">Add new revision of "{{revisionPaperTitle}}"</h3>
        <br />
        <div>
            <input hidden formControlName="scientificPaper" id="scientificPaper" type="file" name="file"
                (change)="paperFileChange($event.target.files)" accept=".xml">
            <button class="margin5" mat-raised-button (click)="openPaperInput()">
                Choose file...
            </button>
            <button class='submit-btn' mat-raised-button color="primary" (click)="submitPaper()">
                Submit paper
            </button>
        </div>
    </mat-card>
    <br>
    <mat-card id="add-paper-card">
        <h3>Submit paper's cover letter</h3>
        <br />
        <div>
            <input hidden formControlName="coverLetter" id="coverLetter" type="file" name="file"
                (change)="letterFileChange($event.target.files)" accept=".xml">
            <button class="margin5" mat-raised-button (click)="openLetterInput()" [disabled]="!isPaperSubmitted">
                Choose file...
            </button>
            <button class='submit-btn' mat-raised-button color="primary" (click)="submitLetter()" [disabled]="!isPaperSubmitted">
                Submit cover letter
            </button>
        </div>
    </mat-card>
</form>
